body {
  background-color: #59a674;
  margin: 0 auto;
}

nav#main-nav {
  background-color: black;
  margin: 10px 10px;
}

nav#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

#navbar-container {
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: top;
}

nav#main-nav ul li {
  float: left;
}

nav#main-nav ul li a {
  display:block;
  padding: 20px;
  font-size:20px;
  color: #59a674;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
nav#main-nav ul li a:hover {
  background-color: white;
  color: black;
}

.clear {
  clear: both;
}